@font-face {
    font-family: 'Antipasto';
    src: url('./fonts/Antipasto.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: "Antipasto";
    background-color: #121212;
    color: #ffffff;
}

#top-bar {
    background-color: #1f1f1f;
    color: #37ff00;
    text-align: center;
    padding: 1vh;
    position: relative;
}

#top-bar p {
    margin: 0px;
    font-family: "Antipasto";
}

#top-bar button {
    position: absolute;
    right: 2vh;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

main {
    padding: 1rem;
}

h1, h2 {
    color: white;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #1f1f1f;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}

input[type="search"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

.price {
    text-align: right;
}

#search-form {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1rem;
    margin-right: 10px;
}

#search-form button {
    background-color: #37ff00;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

#search-form button:hover {
    background-color: #2ecc71;
}