#product-details img {
    border-radius: 15px; /* Rounded corners for product images */
}

.product-image {
    height: 80vh; /* Size the image correctly */
    border-radius: 15px; /* Rounded corners */
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align both prices to the same x position */
    margin-top: 1rem;
}

.price {
    max-width: fit-content;
    border-radius: 15px;
    font-size: medium;
    text-align: center;
}

.excl-vat {
    max-width: fit-content;
    background-color: red;
    border-radius: 15px;
    font-size: larger;
    padding: 3vh;
    text-align: center;
}