@font-face {
    font-family: 'FutureClean';
    src: url('../../fonts/futureclean.ttf') format('truetype');
}
body {
    margin: 0;
    font-family: "FutureClean";
    background-color: #121212;
    color: #ffffff;
}
.product-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the start */
    align-items: flex-start; /* Align items at the top */
    margin: 20px;
}
.product-image {
    width: auto; /* Make the image cover the full width */
    height: 80vh; /* Maintain aspect ratio */
    border-radius: 15px; /* Retain border radius */
    transition: none; /* Ensure no smooth transitions for border-radius */
}
.product-info {
    max-width: 50%;
    float: none; /* Remove float */
    margin-left: 20px; /* Add spacing to the right of the image */
    align-self: flex-start; /* Align with the top of the image */
}
.price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
.price {
    color: white;
    margin: 0;
}
.excl-vat {
    background-color: red;
    color: white;
    padding: 1vh;
    font-size: 5vh;
    border-radius: 15px;
    margin: 0;
}
.checkout-button {
    background-color: #37ff00;
    color: white;
    padding: 1vh;
    font-size: 5vh;
    border-radius: 15px;
    margin-top: 10vh;
    font-family: 'FutureClean';
    border: 0;
}

@media (max-width: 768px) {
    .product-image {
        width: 100%; /* Make the image cover the full width */
        height: auto; /* Maintain aspect ratio */
        border-radius: 15px; /* Retain border radius */
        transition: none; /* Ensure no smooth transitions for border-radius */
    }
    .product-layout {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center align elements */
    }
    .product-info {
        max-width: 100%; /* Make the product info take full width */
        text-align: center; /* Center align text */
    }
    .price-container {
        align-items: center; /* Center align price container */
    }
}