@font-face {
    font-family: 'FutureClean';
    src: url('../../fonts/futureclean.ttf') format('truetype');
}
body {
    margin: 0;
    font-family: "FutureClean";
    background-color: #121212;
    color: #ffffff;
}
.product-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.product-image {
    max-width: 50%;
    height: 80vh;
    margin-right: 10vh;
    object-fit: contain; /* Prevent image stretching */
}
.product-info {
    max-width: 50%;
    float: right;
}
.price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.price {
    color: white;
}
.excl-vat {
    font-size: 10vh;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 15px;
    padding: 5vh;
}
.checkout-button {
    background-color: #37ff00;
    color: #000;
    border: none;
    padding: 5vh;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}
.checkout-button:hover {
    background-color: #2ecc71;
}