body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

main {
    padding: 1rem;
}

#basket-items {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: #1f1f1f;
    color: #ffffff;
}

#basket-items th, #basket-items td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}

#basket-items th {
    background-color: #333333;
}

#basket-items td:nth-child(1) {
    font-weight: bold;
}

#basket-items td:nth-child(5) img {
    object-fit: contain;
    width: 20px;
    height: 20px;
}

#clear-basket, #empty-basket-message button {
    background-color: #37ff00;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clear-basket:hover, #empty-basket-message button:hover {
    background-color: #2ecc71;
}

#empty-basket-message {
    display: none;
    text-align: center;
    margin-top: 2rem;
}