body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

main {
    padding: 1rem;
}

#basket-items,
#clear-basket,
#empty-basket-message,
.add-to-cart-button {
    display: none; /* Remove basket-related elements */
}

.basket-button {
    height: auto; /* Adjust height to fit navbar */
    padding: 0 2vh;
}

nav {
    overflow-x: hidden; /* Prevent horizontal scrolling caused by the navbar */
}